/* Estilos do formulário - MODULO AGENDAMENTO */

.botao-bpa a
        {
            background-color:#779bb5;
            width:auto;
            padding:8px;
            margin-top:30px;
            margin-bottom:30px;
            color:#ffffff;
            text-decoration:none;
            font-size:12px;
        }
        
.botao-bpa a:hover
        {
            background-color:#658aa5;
            width:auto;
            padding:8px;
            margin-top:25px;
            margin-bottom:25px;
            color:#ffffff;
            text-decoration:none;
            font-size:12px;
        } 




body
{
	background-color: #ebf0f5;
}

.botoesroll
{
	float: left;
	width: auto;
	padding: 0px 20px 0 0;
	text-decoration: none;
	margin-top: 10px;
}


#geral
{
	width: 950px;
	height: auto; /*z-index: -1;*/
	float: inherit;
	padding-top: 50px;
	margin-left: 50px;
	background-color: #ebf0f5;
}
#processMessage
{
	position: fixed;
	top: 30%;
	left: 43%;
	padding: 10px;
	width: 14%;
	z-index: 1001; /*background-color: #fff;*/ /*border: solid 1px #000;*/
}
#bgloader
{
	background: url(img/bg-loader.png) no-repeat center;
	width: 205px;
	height: 195px;
	margin-left: -35px;
}

#divbotoesposition
{
	padding: 15px 0 0 0;
}

#bgagendamento
{
	background-color: #ebf0f5;
	width: 100%;
	height: 65px;
}

.backgroundblue
{
	background-color: #ebf0f5;
}


#top
{
	width: 813px;
	height: auto;
	float: inherit;
	margin-left: 50px;
	z-index: auto;
	background-color: #ebf0f5;
}

h2
{
	border-bottom: 1px dotted #cccccc;
	font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

h4
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}


.label
{
	color: #004364;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 16px;
	background-color: #FFFFFF;
	float: none;
	border: 1px solid #CCCCCC;
	padding-bottom: 3px;
	padding-left: 4px;
	width: 300px;
	margin-top: 1px;
	margin-right: 5px;
}


br
{
	clear: left;
}

legend
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	letter-spacing: 0px;
	font-weight: bold;
	line-height: 1.8;
	color: #ffffff;
	padding: 3px 12px;
	background: #477ba5;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom:30px;
}

fieldset
{
	border: 1px dashed #477ba5;
	padding: 10px;
	margin-bottom: 20px;
}

.formulario
{
	width: 700px;
	height: auto; /*margin-left: 117px;*/
	margin-right: 0;
	padding: 10px 10px 20px 10px;
}

.formulario2
{
	width: 900px;
	height: auto; /*margin-left: 117px;*/
	margin-right: 0;
	padding: 10px 10px 20px 10px;
}

.formulario3
{
	width: 750px;
	height: auto; /*margin-left: 117px;*/
	margin-right: 0;
	padding: 10px 10px 20px 10px;
}

.formularioMenor
{
	width: 500px;
	height: auto;
	margin-right: 0;
	padding: 10px 10px 5px 10px;
}

.formularioMedio
{
	width: 675px;
	height: auto;
	margin-right: 0;
	padding: 10px 10px 5px 10px;
}

.rotulo
{
	float: left;
	height: 17px;
	font-size: 10px;
	color: #ffffff;
	background-color: #8fb2cc;
	border: 1px solid #8fb2cc;
	padding-bottom: 2px;
	padding-left: 8px;
	width: 156px;
	line-height: 25px;
	margin-top: 0px;
	margin-left: 1px; /*display:block;*/
	margin-right: 5px;
	font-weight: bold;
}

.rotulomin
{
	line-height: 17px; /*height: 17px;*/
	font-size: 10px;
	background-color: #8fb2cc;
	margin-left: 5px;
	border: 1px solid #8fb2cc; /* padding-bottom:2px; */
	padding-right: 25px;
	padding-top: 6px;
	padding-left: 8px;
	margin-bottom: 6px;
	color: #ffffff;
}

.colunaEscondida
{
	display: none;
}

.legenda
{
	font-size: x-small;
	font-weight: bold;
}

.campo
{
	background-position: #FFFFFF;
	font-family: Arial;
	font-size: 11px; /*border: 1px solid #8fb2cc;*/
	border: 1px solid #C0C0C0;
	line-height: 17px;
	height: 16px;
	margin-top: 0px; /*display: list-item;*/
	background: #FFFFFF;
	color: #243d81;
	display: inherit;
	margin-right: 5px;
	padding-left: 5px;
}

.drop
{
	font-family: Arial;
	font-size: 11px;
	border: 1px solid #C0C0C0;
	line-height: 17px;
	height: 21px;
	margin-top: 0px; /*display: list-item;*/
	background: #ffffff;
	color: #243d81;
	display: inherit;
	margin-right: 5px;
	padding-left: 5px;
}

.camporadio
{
	font-family: Arial;
	font-size: 11px;
	height: 23px;
	margin-top: 0px;
	background: #f6f6f6;
	padding-right: 50px;
	margin-bottom: 0px; /*Alinhamento do texto dentro da linha*/
	vertical-align: text-bottom;
	text-align: left;
}

.camporadio_list
{
	font-family: Arial;
	font-size: 11px;
	margin-top: 0px;
    margin-bottom: 0px; /*Alinhamento do texto dentro da linha*/
	text-align: left;
	font-weight:bold;
}
.camporadio_end
{
	font-family: Arial;
	font-size: 11px;
	height: 23px;
	margin-top: 0px;
	background: #f6f6f6;
	padding-right: 40px;
	margin-bottom: 0px; /*Alinhamento do texto dentro da linha*/
	vertical-align: middle;
}

.radio
{
	font-family: Arial;
	font-size: 10px;
	border: 1px solid #AAA;
	text-align: left;
}

.radio1
{
	font-weight: bold;
	font-size: 11px;
	font-family: Arial;
}

/*Classe HEADER das tabelas*/
.tab
{
	font-family: Verdana;
	font-size: x-small;
	border: 1px solid #CCC;
	height: 18px;
	background-color: #e7e7e7;
	font-weight: bold;
}

/*Classe ROW das tabelas*/
.tabrow
{
	font-family: arial;
	font-size: 8pt;
	border: 1px solid #CCC;
	height: 18px;
	text-align: center;
}

.tabrow_left
{
	font-family: arial;
	font-size: 8pt;
	border: 1px solid #CCC;
	height: 18px;
}

.form
{
	margin: 0;
	padding: 0;
}

.buttons
{
	background: #e3e3db;
	font-size: 12px;
	color: #333333;
	padding: 6px 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

div, select
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-decoration: none;
}

.sis_fonte_small
{
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Estilo do Accordeon*/
.accordionHeader
{
	border: 1px solid #142126;
	color: #142126;
	background-color: #eee; /*font-weight: bold;*/
	padding: 5px;
	margin-top: 5px;
	cursor: pointer;
	width: 500px;
}

.accordionHeaderSelected
{
	border: 1px solid #142126;
	color: white;
	background-color: #142126; /*font-weight: bold;*/
	padding: 5px;
	margin-top: 5px;
	cursor: pointer;
	width: 500px;
}

.accordionContent
{
	background-color: #fff;
	border: 1px solid #142126;
	border-top: none;
	padding: 5px;
	padding-top: 10px;
	width: 500px;
}
.mine
{
}

/*MENU---------------------------------------------------------*/

/* #top_menu1
    {
	     float:left;
	      padding:0;
	        margin:0;
    }*/

.top_menu
{
	font-family: Arial, Verdana, Sans-Serif;
	background: #ebf0f5 url(  'img/aba_menu_agendamento.png' ) no-repeat left;
	height: 45px;
	margin: 0 0px 0 0px;
	padding: 0 3px 0 15px;
	line-height: 27px;
	width: 471px;
	position: relative;
	top: -30px;
	left: 454px;
	float: left;
	z-index: 2;
}

#container_menu
{
	width: 776px;
	height: 99px;
	margin-left: -500px;
	margin-top: -300px;
	position: absolute;
	left: 56%;
	top: 131%;
	vertical-align: top;
}

.divrow_menu
{
	display: block;
	vertical-align: top;
}
.divcell_menu
{
	display: inline;
	position: relative;
	width: 172px;
	height: 39px;
	float: right;
	overflow: hidden;
	margin-bottom: 0px;
	top: 0px;
	left: 0px;
}

.divlogin
{
	display: inline;
	position: relative;
	float: left;
	width: 1001px;
	height: 143px;
	overflow: hidden;
	margin-bottom: 0px;
	top: 0px;
	left: 0px;
}
.divfoot
{
	display: inline;
	position: relative;
	width: 1001px;
	height: 29px;
	float: left;
	overflow: hidden;
	margin-bottom: 0px;
	background: #000 url(  'img/bgfoot.jpg' );
}

