body {font:11px Verdana,Arial;}
ul.menu2 {list-style:none; margin:0; padding:0;}
ul.menu2 * {margin:0; padding:0; }
ul.menu2 a {display:block; color:#fff; text-decoration:none;}
ul.menu2 li {position:relative; float:left; margin-right:2px}
ul.menu2 ul {position:absolute; top:26px; left:0; background:#e58219; display:none; list-style:none}
ul.menu2 ul li {position:relative; border:1px solid #f8b063; border-top:none; width:148px; margin:0}
ul.menu2 ul li a {display:block; padding:3px 7px 5px; background-color:#e58219}
ul.menu2 ul li a:hover {background-color:#cf6d17}
ul.menu2 ul ul {left:148px; top:-1px}
ul.menu2 .menulink {/*border:1px solid #aaa;*/ padding:5px 7px 7px; font-weight:normal; color:#ffffff; font-family:Arial; font-size:11px;/* background:url(img/header.gif);*/ width:auto}
ul.menu2 .menulink:hover, ul.menu .menuhover {color:#ffffff; font-family:Arial; font-size:11px; font-weight:normal;/*background:url(img/header_over.gif)*/}
ul.menu2 .sub {background:#280f35 url(img/arrow.gif) 136px 8px no-repeat;  filter: alpha(opacity=25);opacity: 0.5;}
ul.menu2 .topline {border-top:1px solid #aaa}